<!DOCTYPE html>
<html>

<head>
    <title>Flask Client</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body class="container">

    <h1 class="form-group text-center">Mediciones</h1>
    <form action="/guardarSensor" method="POST" data-toggle="validator" class="jumbotron container" style="width: 60%;">
        <div class="form-group row">
            <div class="col-sm-4">
                <label>Fecha</label>
                <input type="text" name="fecha" class="form-control" required>
            </div>
            <div class="col-sm-6">
                <label>Valor</label>
                <input type="number" name="valor" class="form-control" min="0">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label>Origen</label>
                <select name="origen" class="form-control" required>
                    {% for item in origenes %}
                        <option value="{{item}}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            </div>
            <div class="col-sm-5">
                <label>Codigo Sensor</label>
                <input type="number" name="codigoSensor" class="form-control" required>
            </div>
            <div class="col-sm-6">
                <label>Observacion</label>
                <input type="text" name="observacion" class="form-control" required>
            </div>
        </div>
        <!--Boton para validar campos-->
        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
        </div>
    </form>
</body>

</html>